<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- Buoyancy and hydrodynamics parameters -->
  <xacro:property name="cob" value="0.0 0.0 0.3"/>
  <xacro:property name="volume" value="1.83826"/>

  <!-- Hydrodynamic model macro -->
  <xacro:macro name="rexrov2_hydro_model" params="namespace">
    <!-- 여기는 Gazebo 플러그인 관련 태그만 추가하는 자리 -->
    <hydrodynamic_model>
      <type>fossen</type>
      <added_mass>
        779.79 -6.8773 -103.32  8.5426 -165.54 -7.8033
        -6.8773    1222   51.29  409.44 -5.8488  62.726
        -103.32   51.29  3659.9  6.1112 -386.42  10.774
        8.5426  409.44  6.1112   534.9 -10.027  21.019
        -165.54 -5.8488 -386.42 -10.027  842.69 -1.1162
        -7.8033  62.726  10.775  21.019 -1.1162  224.32
      </added_mass>
      <linear_damping>
        -74.82 -69.48 -728.4 -268.8 -309.77 -105
      </linear_damping>
      <quadratic_damping>
        -748.22 -992.53 -1821.01 -672 -774.44 -523.27
      </quadratic_damping>
    </hydrodynamic_model>
  </xacro:macro>

</robot>
